#answer-form {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    max-width: 50rem;
    gap: 1rem;
}

#answer-form textarea {
    background-color: #282828;
    color: #66ff66;
    border: 1px solid #66ff66;
    border-radius: 3px;
    height: 25rem;
}

#answer-form button {
    padding: 0.25rem 0.5rem;
    width: 10rem;
}
