* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #282828;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    color: #66ff66;
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 1.5rem 0;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 2.5rem;
}

.list-entry {
}

.list-entry--info {
    display: flex;
    gap: 1.25rem;
    align-items: end;
    margin-bottom: 0.75rem;
}

.list-entry--info h3 {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.list-entry--info p span {
    display: inline-block;
    color: orange;
}

.list-entry--code-container {
    border: solid 1px #66ff66;
    border-radius: 9px;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.list-entry--code-text {
    padding: 0 1rem;
}

.btn {
    background-color: #66ff66;
    border: none;
    color: #282828;
    font-family: inherit;
    cursor: pointer;
}
