.invalid-text {
  color: #ef4444;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 482px;
}

.input-container {
  display: flex;
  justify-content: start;
  width: 50%;
}

.input-container input {
  margin-left: auto;
  width: 9rem;
}

.password-btn {
  width: 15%;
  border-radius: 9px;
  padding: 6px 12px;
}
