<!DOCTYPE html>
<html>
  <html>
    <head>
      <title>LC Tracker: Password Reset</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="/css/general.css" />
      <link rel="stylesheet" href="/css/password-form.css" />
    </head>
    <body>
      <h1>Password Reset</h1>
      <% if (!validPassword) { %>
      <p class="invalid-text"><%= message %></p>
      <% } else { %>
      <p>Please enter enter an confirm your new password.</p>
      <% } %>
      <form class="password-form" action="/reset-password" method="post">
        <div class="input-container">
          <label class="password-label" for="password">Password:</label>
          <input
            class="password-input"
            type="password"
            name="password"
            id="password"
          />
        </div>
        <div class="input-container">
          <label class="password-label" for="confirmPassword">Confirm:</label>
          <input
            class="password-input"
            type="password"
            name="confirmPassword"
            id="confirmPassword"
          />
        </div>
        <input type="hidden" name="token" value="<%= token %>" />
        <button class="btn password-btn">Reset</button>
      </form>
    </body>
  </html>
</html>
