<!DOCTYPE html>
<html>
    <html>
        <head>
            <title>LC Tracker: Password Reset</title>
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/css/general.css" />
            <link rel="stylesheet" href="/css/password-form.css" />
        </head>
        <body>
            <h1>Password Reset</h1>
            <% if (!validPassword) { %>
            <p class="invalid-text"><%= message %></p>
            <% } else { %>
            <p>Please enter enter an confirm your new password.</p>
            <p
                id="passwordError"
                class="invalid-text"
                style="display: none"
            ></p>

            <% } %>
            <form
                class="password-form"
                action="/v1/auth/set-password?_method=PUT"
                method="POST"
            >
                <div class="input-container">
                    <label class="password-label" for="password"
                        >Password:</label
                    >
                    <input
                        class="password-input"
                        type="password"
                        name="password"
                        id="password"
                    />
                </div>
                <div class="input-container">
                    <label class="password-label" for="confirmPassword"
                        >Confirm:</label
                    >
                    <input
                        class="password-input"
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                    />
                </div>
                <input type="hidden" name="token" value="<%= token %>" />
                <button class="btn password-btn">Reset</button>
            </form>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const form = document.querySelector('.password-form');
                    const passwordInput = document.getElementById('password');
                    const confirmPasswordInput =
                        document.getElementById('confirmPassword');
                    const passwordError =
                        document.getElementById('passwordError');

                    form.addEventListener('submit', function (event) {
                        let isValid = true;
                        let errorMessage = '';

                        if (
                            passwordInput.value !== confirmPasswordInput.value
                        ) {
                            isValid = false;
                            errorMessage =
                                'Passwords do not match. Please try again.';
                        } else if (passwordInput.value.length < 6) {
                            isValid = false;
                            errorMessage =
                                'Password must be at least 6 characters in length.';
                        }

                        if (!isValid) {
                            event.preventDefault();
                            passwordError.textContent = errorMessage;
                            passwordError.style.display = 'block';
                        } else {
                            passwordError.style.display = 'none';
                        }
                    });
                });
            </script>
        </body>
    </html>
</html>
