<!DOCTYPE html>
<html>
    <html>
        <head>
            <title>LC Tracker: Group Code</title>
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/css/group-answers.css" />
        </head>
        <body>
            <h1>Group's Featured Question Code</h1>
            <h2>There was an error getting the group's code.</h2>
        </body>
    </html>
</html>
