<!DOCTYPE html>
<html>
    <html>
        <head>
            <title>LC Tracker: Add Code</title>
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/css/general.css" />
            <link rel="stylesheet" href="/css/answer-form.css" />
        </head>
        <body>
            <h1>Add your answer code</h1>
            <form id="answer-form" method="POST" action="/v1/answers/form">
                <label for="answerCodeInput"
                    >Please input your answer below</label
                >
                <textarea
                    id="answerCodeInput"
                    name="answerCodeInput"
                ></textarea>
                <input type="hidden" name="questId" value="<%= questId %>" />
                <button class="btn btn-answer-form">Submit</button>
                <p
                    id="inputError"
                    class="invalid-text"
                    style="display: none; color: red"
                ></p>
            </form>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const form = document.querySelector('#answer-form');
                    const textArea = document.querySelector('#answerCodeInput');
                    const inputError = document.querySelector('#inputError');

                    form.addEventListener('submit', function (event) {
                        let isValid = true;
                        let errorMessage = '';

                        if (textArea.value === '') {
                            isValid = false;
                            errorMessage = 'The text field cannot be empty';
                        }

                        if (!isValid) {
                            event.preventDefault();
                            inputError.textContent = errorMessage;
                            inputError.style.display = 'block';
                        }
                    });
                });
            </script>
        </body>
    </html>
</html>
