<!DOCTYPE html>
<html>
    <html>
        <head>
            <title>LC Tracker: Add Code</title>
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/css/general.css" />
            <link rel="stylesheet" href="/css/answer-form.css" />
        </head>
        <body>
            <h1>There was an error adding your code</h1>
            <p><%= error %></p>
        </body>
    </html>
</html>
