<!DOCTYPE html>
<html>
    <html>
        <head>
            <title>LC Tracker: Invalid Reset Link</title>
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/css/general.css" />
        </head>
        <body>
            <h1>Your code has been added!</h1>
        </body>
    </html>
</html>
