<!DOCTYPE html>
<html>
    <html>
        <head>
            <title>LC Tracker: Invalid Reset Link</title>
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/css/general.css" />
            <link rel="stylesheet" href="/css/answer-form.css" />
        </head>
        <body>
            <h1>Add your answer code</h1>
            <form id="answer-form" method="POST" action="/answers/form">
                <label for="answerCodeInput"
                    >Please input your answer below</label
                >
                <textarea
                    id="answerCodeInput"
                    name="answerCodeInput"
                ></textarea>
                <input type="hidden" name="questId" value="<%= questId %>" />
                <button class="btn btn-answer-form">Submit</button>
            </form>
        </body>
    </html>
</html>
