<!DOCTYPE html>
<html>
  <html>
    <head>
      <title>User Validation</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="/css/general.css" />
    </head>
    <body>
      <h1>There was an error verifying your account</h1>
      <p>
        If this unexpected please send a reply to the email address which sent
        the verification link
      </p>
    </body>
  </html>
</html>
