<!DOCTYPE html>
    <html>
        <html>
            <head>
                <title>LC Tracker</title>
                <link rel="preconnect" href="https://fonts.googleapis.com" />
                <link
                    rel="preconnect"
                    href="https://fonts.gstatic.com"
                    crossorigin
                />
                <link
                    href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap"
                    rel="stylesheet"
                />
                <link rel="stylesheet" href="/css/group-answers.css" />
            </head>
            <body>
                <h1>lc-tracker-api</h1>

            </body>
        </html>
    </html>
    